{%extends 'base.html'%}
{%block main%}
<div class="row topspace">
    <div class="col-sm-8 col-sm-offset-2">
        {% for key,post in postAll %}
        <article class="post">
            <header class="entry-header">
                <div class="entry-meta"> 
                    <span class="posted-on"><time class="entry-date published" date="2013-09-27">September 27, 2013</time></span>			
                </div>
                <h1 class="entry-title"><a href="{{url_for('blog_leer',{'id':post['id']})}}" rel="bookmark">{{post['titulo']}}</a></h1>
            </header>
            <div class="entry-content">
                <p>{{post['texto']}}</p>
            </div>
        </article> 
        {%endfor%}                                          

         
{%endblock%}
